# Next.js
/.next/
/out/

# Build
/build
/dist

# Dependencies
/node_modules

# Testing
/coverage

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Turbo
.turbo

# Vercel
.vercel

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# PWA
/public/sw.js
/public/workbox-*.js
/public/worker-*.js
/public/sw.js.map
/public/workbox-*.js.map
/public/worker-*.js.map

# OS
.DS_Store
