POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=google_events_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"
JWT_SECRET="change-me-in-production"
PORT=3001
AUTH0_DOMAIN=YOUR_AUTH0_DOMAIN
AUTH0_AUDIENCE=YOUR_AUTH0_AUDIENCE
